@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}
@font-face {
    font-family: 'Mak';
    src: url('../fonts/MAK.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mak';
    src: url('../fonts/MAK-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mak';
    src: url('../fonts/Mak-SemiBoldHigh.otf') format('opentype');
    font-weight: 600; /* Adjust this based on the actual weight */
    font-style: normal;
}
.font-mak {
    font-family: Mak, sans-serif;
}

/* header */
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://d11x3xfornpl7m.cloudfront.net/photo-26.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* work */
.angebot{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://d11x3xfornpl7m.cloudfront.net/photo-29.jpg') center/cover no-repeat fixed;
    color: var(--light-color);
}
.angebot .title h2, .angebot h3{
    color: var(--light-color);
}
.angebot .title h2::after{
    background: var(--light-color);
}
.work-bottom{
    margin-top: 4rem;
    text-align: center;
}
.work-bottom > div .icon img{
    width: 50px;
    margin: 0 auto 1.7rem auto;
}
/* portfolio */
.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.9);
}

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}

/* Spezifische Styles für das Formular */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

.pakete{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://d11x3xfornpl7m.cloudfront.net/photo-46.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}
.pakete .title h2{
    color: var(--light-color);
}
.pakete .title h2::after{
    background-color: var(--light-color);
}
.price-grid > div{
    height: 500px;
    overflow: hidden;
    transition: var(--transition);
}
.price-grid > div img{
    height: 100%;
    object-fit: cover;
}
.price-grid > div:hover{
    transform: scale(1.1);
}

/* footer */
#footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.footer-content {
    text-align: center;
}

.footer-content h3 {
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.footer-content ul {
    flex-direction: column;
}

.footer-content ul li a {
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer-content ul li a:hover {
    opacity: 0.7;
}

.footer-content ul li {
    margin: .5rem 1rem;
}

.footer-content > div:first-child {
    margin-bottom: 3rem;
}

.footer-content > div:first-child div {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}

.copyright {
    margin-top: 4rem; /* Adds space above the copyright text */
    text-align: center;
}

.copyright p {
    font-size: 1.25rem; /* Smaller font size */
    color: #718096; /* Light gray color */
    text-align: center;
}


/* Media Queries */

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    /*.portfolio-grid{*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
        position: relative;
    }
    .portfolio-grid > div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .tw-width-2 {
        width: calc(2 * (100% + 1rem)); /* Adjust the width as needed */
    }
    .tw-height-2 {
        height: calc(2 * (100% + 1rem)); /* Adjust the height as needed */
    }
    /* Define the specific item to span two rows */
    .portfolio-grid .large-item-r-h {
        grid-row: span 2; /* Span two rows vertically */
        height: 100%;
        width: auto;
    }
    .portfolio-grid .large-item-r-w {
        grid-row: span 2; /* Span two rows vertically */
        height: auto;
        width: 100%;
    }
    .portfolio-grid .large-item-c-h {
        grid-column: span 2; /* Span two rows vertically */
        height: 100%;
        width: auto;
    }
    .portfolio-grid .large-item-c-w {
        grid-column: span 2; /* Span two rows vertically */
        height: auto;
        width: 100%;
    }
    .object-top {
        object-position: top;
    }
    .object-bottom {
        object-position: bottom;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }
    
}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .price-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .price-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .price-grid > div{
        height: 500px;
    }
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}

.pricing-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.pricing-card.framed {
    border: 4px solid #f6bd60;
    padding: 18px; /* Adjust padding to account for border width */
}
.pricing-header {
    margin-bottom: 20px;
}

.pricing-header h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pricing-header p {
    font-size: 18px;
    color: #888;
}

.pricing-body {
    margin-bottom: 20px;
}

.pricing-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.pricing-body li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 20px;
    position: relative;
    color: #555;
}

.pricing-body li::before {
    content: "✔";
    color: #f6bd60;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}

.pricing-footer .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pricing-footer .btn:hover {
    background-color: #555;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Contact Form Styles */
contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label {
    margin-bottom: 10px;
    font-weight: bold;
}

#contactForm input,
#contactForm textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

#contactForm button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contactForm button:hover {
    background-color: #555;
}

/* CSS für das Label der Checkbox */
label {
    line-height: 1.2; /* Verringert den Zeilenabstand */
    font-size: 1.875rem; /* Kleinere Schriftgröße */
    color: #FFFFFF;
}
label a {
    color: #FFFF00; /* Setzt die Linkfarbe */
    text-decoration: none; /* Entfernt die Unterstreichung des Links */
}
label a:hover {
    text-decoration: underline; /* Unterstreicht den Link beim Hover */
}
/* CSS für den Popup-Text */
.popup h2 {
    font-size: 2.0rem; /* Größere Schriftgröße für die Überschrift */
    margin-bottom: 10px; /* Abstand nach unten */
    color: #333;
}
.popup p {
    font-size: 1.5rem; /* Schriftgröße für den Text */
    line-height: 1.6; /* Erhöht den Zeilenabstand für bessere Lesbarkeit */
    margin-bottom: 20px; /* Abstand nach unten */
}

/* Popup-Styles */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}
.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.justify-text {
    text-align: justify; /* Text ausrichten */
    margin-bottom: 25px; /* Abstand zum unteren Rand */
    font-size: 1.25em; /* Schriftgröße leicht anpassen */
    line-height: 1.2; /* Zeilenhöhe für bessere Lesbarkeit */
    padding: 10px; /* Innenabstand für besseren Abstand zum Rand */
    border: 1px solid #ddd; /* Optional: Rahmen um den Text */
    border-radius: 5px; /* Abgerundete Ecken */
    background-color: #f9f9f9; /* Hintergrundfarbe leicht ändern */
}
